/* this file controls the style of the text and stuff */

html {
	height: 100%;
	overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

body {
	height: calc(100vh - 8em)em;
	padding: 2em;
	color: #ededed;
	font-family: 'Anonymous Pro', monospace;
	font-size: 120%;
}

.line {
	position: relative;
	top: 50%;
	width: 2em;
	margin: 0 auto;
	border-right: 2px solid #ededed;
	font-size: 140%;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

.anim-typewriter {
	animation:  typewriter 1s steps(20) 1s 1 normal both,
	blinkTextCursor 750ms steps(20) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 10.1em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: #fff;
		}
	to {
		border-right-color: transparent;
	}
}